<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="container">
    <div class="row">
        <div class="col col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

             <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                     <label for="Name" class="form-label">Name</label>
                     <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                      <label for="DOB" class="form-label">Date of birth</label>
                      <input type="date" name="" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                      <label for="Address" class="form-label">Address</label>
                      <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>

                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="Gmail" class="form-label">Gmail</label>
                    <input type="email" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-dark">Register</button>
                </div>
             </div>

        </div>
    </div>
</div>

</body>
</html>
