<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
      <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://a.cdn-hotels.com/gdcs/production108/d1460/1e7b3f6f-b054-4b27-9c05-3ee963b6b8a5.jpg?impolicy=fcrop&w=800&h=533&q=medium" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Miami</h5>
                              <a href="#" class="btn btn-primary">View</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://assets.vogue.in/photos/6239a88deb60bae3c5bc6821/2:3/w_2560%2Cc_limit/Dubai.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dubai</h5>
                              <a href="#" class="btn btn-primary">View</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://i.natgeofe.com/k/5af79b71-007d-46f8-8efe-bf37a504195b/california-golden-gate-bridge.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">California</h5>
                              <a href="#" class="btn btn-primary">View</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://www.london.ac.uk/sites/default/files/styles/max_1300x1300/public/2018-10/london-aerial-cityscape-river-thames_1.jpg?itok=6LenFxuz" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">London</h5>
                              <a href="#" class="btn btn-primary">View</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://cms.finnair.com/resource/blob/672748/3523a759b61b788b834fe56aa57fa255/sydney-main-data.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Sydney</h5>
                              <a href="#" class="btn btn-primary">View</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://static.toiimg.com/photo/67453422.cms" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Munnar</h5>
                              <a href="#" class="btn btn-primary">View</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://pix10.agoda.net/hotelImages/4869553/0/361de54823a1fe21058faaca71e86567.jpg?ca=24&ce=0&s=1024x768" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Bali</h5>
                              <a href="#" class="btn btn-primary">View</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://cdn.britannica.com/89/179589-138-3EE27C94/Overview-Great-Wall-of-China.jpg?w=800&h=450&c=crop" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">China</h5>
                              <a href="#" class="btn btn-primary">View</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://images.indianexpress.com/2017/10/goa3_ts_759.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Goa</h5>
                              <a href="#" class="btn btn-primary">View</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://static.euronews.com/articles/stories/05/98/40/48/1000x563_cmsv2_890e6458-118e-5d59-af39-b30623f8f7d6-5984048.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Hawaii</h5>
                              <a href="#" class="btn btn-primary">View</a>
                            </div>
                          </div>

                    </div>
                </div>

            </div>
        </div>
      </div>

</body>
</html>

